body {
  background: white;
  font-family: "Times New Roman", Times, serif;
}

h1 {
   margin-bottom: 0 ;
   margin-left: 20px;
}

footer {
  color: rgb(0, 0, 0, o.6);
  font-size: 18px;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: inset;
  background-color: gray;
  border-radius: 10px;
  text-align: center;
}

.search-input {
  width: 80%;
  max-width: 600%;
  border-radius: 6px;
  border: none;
  padding: 10px;
  margin: 2px;
}

.search-button {
  width: 10%;
  max-width: 600%;
  color: aliceblue;
  background-color: blueviolet;
  border-radius: 6px;
  border: none;
  padding: 10px;
  margin: 2px;
}

.para {
  display: flex;
  justify-content: space-between;
margin: 20px 0 0;
padding: 0;
}

.temp {
 display: flex;
  justify-content: space-between;
  margin: 0 auto;
padding:10px;
}

.weather-icon {
font-size: 35px;
}

.weather-temp {
font-size: 60px
}

.weather-units {
font-size: 20px;
}

.speed {
text-align: left;
margin-top: 0;
font-size: 18px;
margin-left: 20px;
}

.weather-hum{
color: blue ;
}

.weather-wind {
color: blue ;
}