body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/178/313/original/IMG-20260211-WA0040.jpg?1771001346");
  background-size: cover;
  background-repeat: none;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  margin-bottom: 0;
}

footer {
  color: rgb(0, 0, 0, o.6);
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  max-width: 600px;
  margin: 210px auto;
  padding: 20px;
  box-shadow: inset;
  background-color: gray;
  border-radius: 10px;
  text-align: center;
}

.search-input {
  width: 80%;
  max-width: 600%;
  border-radius: 6px;
  border: none;
  padding: 10px;
  margin: 2px;
}

.search-button {
  width: 10%;
  max-width: 600%;
  color: aliceblue;
  background-color: blueviolet;
  border-radius: 6px;
  border: none;
  padding: 10px;
  margin: 2px;
}

.paragraph {
  margin: 0;
}

.para {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0;
  padding: 0;
}

.temp {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 0;
}

.weather-icon {
  font-size: 45px;
  height: 90px;
}

.weather-temp {
  font-size: 80px;
}

.weather-units {
  font-size: 25px;
}

.speed {
  text-align: left;
  margin-top: 0;
  font-size: 18px;
  margin-left: 20px;
}

.weather-hum {
  color: blue;
}

.weather-wind {
  color: blue;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.weather-day {
  color: whitesmoke;
  font-size: 25px;
  margin: 0 10px;
}

.weather-icon {
  font-size: 25px;
}

.weather-temperatures {
  color: blue;
  padding: 10px;
  margin: 0 10px;
}

.weather-temperature {
  padding: 0 10px;
}
